<div class="auditorium_info" style="display: none">Seat Count <%=auditorium.seat_count%></div>

<div class="auditorium_info" style="display: none"><%=auditorium.movie.title%></div>

<div class="auditorium_info" style="display: none"><button>add seats</button></div>

 <div class="auditorium_info" style="display: none"><button>change movie</button></div>


 <div class="auditorium_info" style="display: none"><button>destroy auditorium</button></div>