<br><br>

What would you like to do?
<ul style="list-style: none;"> 
    <li><a href = "/admin/auditoriums"> View and Add Available Auditoriums</a></li>
  <!--   <li><a href = "/admin/movies"> Manage Movies Playing in Auditoriums</a></li> -->
    <li><a href = "/admin/orders"> View Order Records </a></li>
</ul>
