<div class="row">
   <div class="col-md-6 col-md-offset-3">
<%= form_for @auditorium do |f|%>
Seat Count: <%=f.text_field :seat_count %><br>
Movie Playing: <%= f.text_field :movie_title, class: 'form-control' %>
<br>
<%= f.submit "Submit" , class: "btn btn-primary" %>
<%end%>
  </div>
</div>