<p>Auditorium <%=@auditorium.id%> </p>

<p>Number of Seats: <%=@auditorium.seat_count %> </p>

<p>Movie Playing: <%=@auditorium.movie.title %> </p>

<a href="/auditoria/<%=@auditorium.id%>/edit"><button>edit details</button></a>
<a href="/admin/auditoriums"><button>back to auditoriums</button></a>