

<div class="MovieList">
    <ul class="list-inline" style="list-style: none;">
            <% @movies.each do |movie| %>
        <li class="MovieItem"><br>
            <a href="/movies/<%=movie.id%>"><%=movie.title%><br><img class="movie_poster" src="<%=movie.image%>"></img></a>
        </li>
        <%end%>
    </ul>
</div>